<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">Ingresos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item-sliding *ngFor="let ingreso of ingresos">
      <ion-item lines= "inset" button [routerLink]="['/Idetails', ingreso.id]">
        <ion-label>
          {{ingreso.procedencia}}
        </ion-label>
      </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="onRemove(item)" color="secondary">
        <ion-icon name="checkmark" slot="end"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="medium" horizontal="end" sllot="fixed">
    <ion-fab-button [routerLink]="['/Idetails']" routerDirection="forward" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
